.num {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    background-color: #a864a8;
    font-size: 9px;
    line-height: 14px;
}
.navBtn {
    background: #343a40;
    border: none;
}